dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

/* 🔥 Modal 縮圖 */
.dlg-thumb {
  width: 70px;
  height: 70px;
  object-fit: cover;
  /* 🔥 填滿區域，被裁切也沒關係 */
  background-color: #f3f4f6;
  border-radius: 6px;
  /* 你想多圓都可調整 */
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}

.dlg-thumb.active {
  outline: 3px solid #ff6900;
  /* 或你的品牌色都可以 */
  opacity: 1;
}

/* 當 dlg.showModal() 被呼叫時，自動生效 */
dialog::backdrop {
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6px);
}

#lightbox {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: none;
}

#lbThumbs img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 6px;
  opacity: 0.5;
  cursor: pointer;
  background: #444;
}

#lbThumbs img.active {
  opacity: 1;
  border: 2px solid white;
}

/* 讓圖片容器用同張圖做模糊延伸背景 */
.blur-fit {
  position: relative;
  overflow: hidden;
}

.blur-fit::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--bg) center/cover no-repeat;
  /* 這裡吃 inline style 的 --bg */
  filter: blur(24px);
  transform: scale(1.1);
  /* 放大避免邊緣露白 */
}

.blur-fit>img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
  /* 上層放原圖，保持比例 */
}

@media (max-width: 767.98px) {

  input,
  select,
  textarea {
    font-size: 16px;
  }
}

.swal2-confirm {
  background-color: #4340FF;
  color: white;
  padding: 10px 24px;
  border-radius: 12px;
  /* 跟你的 UI 圓角一致 */
  font-size: 14px;
  font-weight: 600;
  border: none;
}

.swal2-confirm:hover {
  background-color: #3c39e6;
  /* hover 深一點 */
}

.swal2-cancel {
  padding: 10px 24px;
  border-radius: 12px;
  /* 跟你的 UI 圓角一致 */
  font-size: 14px;
  font-weight: 600;
  border: none;
}

#lbPrev {
  left: 0rem;
}

#lbNext {
  right: 0rem;
}

@media (min-width:768px) {
  #lbPrev {
    left: 2.5rem;
  }

  #lbNext {
    right: 2.5rem;
  }
}