name: Deploy Firebase Functions
on:
  push:
    paths:
      - 'functions/**'
      - 'firebase.json'
      - '.firebaserc'
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: w9jds/firebase-action@v13
        with:
          args: deploy --only functions --non-interactive --project straystation
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
