name: Deploy to Firebase Hosting
on:
  push:
    branches:
      - main    # ← 當你 push 到 main 分支時自動部署
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Deploy to Firebase
        run: firebase deploy --only hosting --project straystation
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
